{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data }}

{{ if $data.service.about.enable }}
{{ with $data.service.about }}
<section class="service-about section" style="background-image: url('{{ .image | absURL}}')">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>{{ .title | markdownify }}</h2>
        <p class="mt-30">I specialise in technical implementations of web analytics platforms such as Google Analytics, Adobe Analytics and Matomo. 
          Most of which is done via tag management platforms such as Google Tag Manager or Adobe DTM.</p>
        <p>I have also spent the past five years working extensively 
          with JavaScript due to its integral role in web analytics and tag management, which I believe sets me apart from many other digital analysts.</p> 
        <p>In addition to this, I have more than five years of data visualisation experience, designing and implementing reports and dashboards that 
          focus on visualising actionable data, that is related to business objectives.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ if $data.service.featured_service.enable }}
{{ with $data.service.featured_service }}
<section class="service-arrow">
  <div class="container-fluid">
    <div class="row">
      {{ range .service_item }}
      <div class="col-md-3 bg-primary bg-{{ .color }}">
        <div class="block">
          <i class="{{ .icon }}"></i>
          <h3>{{ .name | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Service -->
{{ if $data.service.service.enable }}
{{ partial "service.html" . }}
{{ end }}
<!-- /service -->

<!-- Call to action -->
{{ if $data.service.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

{{ end }}