.about{
	.block{
		
		h2{
			padding-top: 35px;
			margin:0;
		}
		p{
			padding-top: 20px;
			line-height:28px;
		}
		img{
			width: 100%;
		}
	}
	
	.section-title {
		margin-bottom: 0px;
	}
}

.about-feature.section{
	padding: 0px;

	.title{

		h2{
			font-weight: 800;
		}
	}
}
