$light: #fff;
$primary-color: #34b66d;
$secondary-color: #ff5722;
$success: #34b66d;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Work Sans', sans-serif;
$secondary-font:'Lora', serif;
$icon-font: 'themefisher-font';